@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titlescreen{
  display:flex;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  flex-direction: column;
  /* background-image: url("https://i.imgur.com/mTmGfvm.png"); */
  box-sizing: border-box;
  /* background-color: rgb(134, 255, 255); */
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titlescreen p{
  color:red;
  font-size: 4em;
  font-family: 'Press Start 2P', cursive;
}

.titlescreen button{
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;
  border: none;
  background: none;
}


